.container
  %h1 Your Stacks
  .row
    - @stacks.each do |stack|
      .col-md-3
        .stack
          %h3= link_to stack.name, stack_path(stack)
          %p= stack.description
          = link_to 'Delete', stack_path(stack), method: :delete
