/*
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap';

body {
  padding-top: 70px;
}

// Alert Messages

.alert {
  margin-top: -20px;
  border-radius: 0;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
