.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'LinkStack', root_path, class: 'navbar-brand'
      - if current_user.present?
        .stack-actions.pull-left
          = link_to 'My Stacks', stacks_path, class: 'btn btn-success navbar-btn'
          = link_to 'New Stack', new_stack_path, class: 'btn btn-primary navbar-btn'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li=link_to 'About', about_path
        - if current_user.present?
          %li=link_to 'Account', edit_user_registration_path
          %li=link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          %li=link_to 'Login', new_user_session_path
